.AnchorPane {    
    -fx-background-color: linear-gradient(#c4c4c4, #858585);
}

.TransparentBG {
	-fx-background-color:transparent
}

.toolbar-hbox {
    -fx-border-color: dimgray; 
    -fx-padding: 3 ;
}

.progress-bar { -fx-box-border: goldenrod; }

.green-bar  { -fx-accent: green;  }
.yellow-bar { -fx-accent: yellow; }
.orange-bar { -fx-accent: orange; }
.red-bar    { -fx-accent: red;    }

.semitransBackground {
    -fx-background-color: rgba(255,255,255,0.5);
}

.hyperlink:visited {
    -fx-color: -fx-focused-base;
    -fx-border-color: white;
    -fx-border-style: dotted;
    -fx-border-width: 1px;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: white;
}

.choiceList {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%, derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.squareBottomButton {
     -fx-background-radius: 7 7 0 0;
}

.squareButton {
     -fx-background-radius: 0 0 0 0;
}

.noGlow {
    -fx-focus-color: transparent;
}

.arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}

/* ComboBox with squared off edges */

.squarecombo .arrow-button {
    -fx-background-radius: 0 0 0 0;
} 

.squarecombo {
     -fx-background-radius: 0 0 0 0;
}

.plane-pane:focused > .title {
    -fx-color: gray;
}

